{% extends "base.html" %}

{% block content %}

<section class="home">
    <div class="container">
    <div class="row">
        <div class="col-md">
            <img src="static/image/homeexercise.jpeg" class="home-page-image" alt="All Exercis">
        </div>

        <div class="col-md list">
            <div>
				<div>
			    <h1 class="lele">ALL EXERCİSES<h1>
			    </div>
        <div class="geeg">
            <ul>
                <i class="fa fa-check"></i>Exercise is physical activity that is planned, structured, and repetitive for the purpose of conditioning the body.<br><br>
                <i class="fa fa-check"></i>Exercise is essential for improving overall health, maintaining fitness, and helping to prevent the development of obesity , hypertension , and cardiovascular disease<br><br>
                <i class="fa fa-check"></i>Exercises By Muscle Group<br><br>
                <i class="fa fa-check"></i>Find exercises that work out the muscle groups you're targeting.
            </ul>
        <a href="/exercises" class="link-button mt-2" style="margin-left:30px;">Views</a>




</section>
<section class="home">
    <div class="container">
        <div class="row">
        <!-- left column -->
        <div class="col-md left-alignment pb-3">
            <div>
			    <h1 class="lelee">WORKOUT</h1>
			</div>
            <div class="geegg">
            <ul>
            <i class="fa fa-check"></i>is dummy text used in laying out print, graphic or web designs.<br><br>
            <i class="fa fa-check"></i>Until recently, the prevailing view assumed<br><br>
            <i class="fa fa-check"></i>“It's not Latin, though it looks like it, and it actually says nothing,”<br><br>
            <i class="fa fa-check"></i>As Cicero would put it, “Um, not so fast.”
            
            </ul>
                <a href="/planner" class="link-button mt-2" style="margin-left:30px;" >Views</a>
        </div>
    </div>
            
        <!-- right column -->
        <div class="col-md home-page-image">
            <img src="static/image/workouthome.jpeg" class="home-page-image" alt="Women doing squat">

        </div>
        </div>
    </div>
    
</section>


<section class="home">
    <div class="container">
    <div class="row">
        <div class="col-md">
            <img src="static/image/bodyquestion.jpeg" style="height: auto;" class="home-page-image" alt="All Exercis">
        </div>

        <div class="col-md list">
            <div>
				<div class="elementor-widget-container">
			    <h1 class="lele">BODY QUESTİONS</h1>		</div>
			    </div>
        <div class="geeg">
            <ul>
                <i class="fa fa-check"></i>Questions about the body<br><br>
                <i class="fa fa-check"></i>Questions about the body<br><br>
                <i class="fa fa-check"></i>Questions about the body<br><br>
                <i class="fa fa-check"></i>Questions about the body

            </ul>
        <a href="/questionanswer" class="link-button mt-2" style="margin-left:30px;">Views</a>

        </section>
{% endblock %}