{% extends "base.html" %}

{% block content %}

<div class="text-center pb-3">
    <h4>Edit workout plan from {{ day1 | date:"jS M" }} - 
        {{ day7  | date:"jS M Y" }}</h4>
</div>
<form method="POST">
    {% csrf_token %}
    {{ formset.management_form}}

    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
              <tr>
                  <th>-</th>
                  <th>{{ day1 | date:"l" }}</th>
                  <th>{{ day2 | date:"l" }}</th>
                  <th>{{ day3 | date:"l" }}</th>
                  <th>{{ day4 | date:"l" }}</th>
                  <th>{{ day5 | date:"l" }}</th>
                  <th>{{ day6 | date:"l" }}</th>
                  <th>{{ day7 | date:"l" }}</th>
                </tr>
            </thead>
          
            <tbody>
                {% for form in formset %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <th scope="row" rowspan="2">AM</th>
                    {% endif %}
                        {% if forloop.counter >= 1 and forloop.counter <= 7 %}
                            <td class="border-0">{{ form.as_p }}</td>
                        {% endif %}
                    {% if forloop.counter == 8 %}
                        </tr>
                        <tr>
                    {% endif %}
                        {% if forloop.counter >= 8 and forloop.counter <= 14 %}
                            <td class="separation-line">{{ form.as_p }}</td>
                        {% endif %}
    
                    {% if forloop.counter == 15 %}
                        </tr>
                        <tr>
                          <th scope="row" class="no-line" rowspan="2">PM</th>
                    {% endif %}
                        {% if forloop.counter >= 15 and forloop.counter <= 21 %}
                            <td class="border-0">{{ form.as_p }}</td>
                        {% endif %}
                    {% if forloop.counter == 21 %}
                        </tr>
                        <tr>
                    {% endif %}
                        {% if forloop.counter > 21 and forloop.counter <= 28 %}
                            <td class="no-line">{{ form.as_p }}</td>
                        {% endif %}
    
                {% endfor %}
                        </tr>   
            </tbody>
        </table>
    </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <button type="submit" class="button">Save</button>
        </div>
</form>
{% endblock %}
